*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
}

section.header-master{
    width: 100%;
    padding: 30px 0;
    min-height: 700px;
    background-image: url("../imagens/bg_01.png");
    background-size: cover;
}

section.header-master header{
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(71, 83, 88, 0.14);
}

div.logo{
    float: left;
    width: 166px;
    height: 64px;
    background-image: url("../imagens/logo.png");
    background-size: 100% 100%;
}

header nav{
    float: left;
    padding-left: 60px;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    position: relative;
    padding: 0 15px;
    display: inline-block;
    font-size: 16px;
    color: white;
}

nav.mobile{
    display: none;
}
nav.mobile ul{
    display: none;
}

li.selected > span{
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 3px;
    background-color: #509d87;
}

li.selected{
    color: #509d87 !important;
}

header li a{
    color: inherit;
    text-decoration: none;
}

div.telefone-header{
    float: left;
    position: relative;
    top: -3px;
}

div.telefone-header span{
    font-size: 22px;
    color: white;
    padding-left: 27px;
}

.content-header{
    padding: 60px 0;
}

.content-header .one{
    float: left;
    width: 50%;
}

.content-header .one h2{
    color: #509d87;
    font-weight: normal;
    font-size: 37px;
}

.content-header .one p{
    padding: 10px 0;
}

.content-header .one form input{
    display: inline-block;
}

.content-header .one form input[type=email]{
    width: 251px;
    height: 40px;
    border: 2px solid #ccc;
    padding-left: 15px;
    border-radius: 15px;
    outline: none;
}

.content-header .one form input[type=submit]{
    background-color: #00daaa;
    color: white;
    cursor: pointer;
    border: none;
    height: 40px;
    padding: 0 30px;
    border-radius: 30px;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 15px;

}

.content-header .one span{
    color: #509d87;
    font-size: 13px;
    margin-top: 20px;
    display: block;
}

.content-header .two{
    float: left;
    width: 50%;
    padding: 0 30px;
}

.content-header .two img{
    float: left;
    width: 50%;
    border: 10px solid rgba(0, 0, 0, 0);
}

section.diferenciais{
   padding: 40px 0;
    /*margin-top: 20px;*/
}

section.diferenciais > .container{
    display: flex;
    flex-wrap: wrap;
}

.diferenciais-single{
    padding: 10px;
    width: 33.3%;
    margin-bottom: 30px;
}

.diferenciais-single img{
    height: 60px;
}

.diferenciais-single h2{
    padding-bottom: 20px;
    font-size: 20px;
    color: black;
}

.diferenciais-single h2 > b{
    color: #7dd5b0;
}

.diferenciais-single p{
    color: #2d2d2d;
    font-size: 14px;
    font-weight: bold;
}

.sobre > .container{
    max-width: 1280px;
}

.sobre-container{
    float: left;
    width: 50%;
    
}

.sobre-container:nth-of-type(2){
    position: relative;
    z-index: 99;
}

.sobre-container img{
    max-width: 100%;
}

.sobre-container h2{
    font-size: 26px;
    margin: 10px 0;
    color: #a9c4b8;
    font-weight: normal;
}

.sobre-container h2 > b{
    color: #03ca9f;
}

.sobre-container p{
    max-width: 80%;
    color: black;
}

.sobre-container:nth-of-type(2){
    padding: 0 20px;
}

section.depoimento{
    padding-top: 200px;
    padding-bottom: 300px;
    background-image: url("../imagens/bg_02.png");
    background-size: cover;
    text-align: center;
    color: #2d2d2d;
    position: relative;
    top: -105px;

}

section.depoimento h2{
    font-size: 29px;
    font-weight: normal;
}

section.depoimento p{
    font-size: 15px;
}

section.etapas{
    padding: 40px 2%;
}


section.etapas > .container{
    max-width: 1300px;
}

section.etapas h2{
    text-align: center;
}

section.etapas .etapas__one{
    float: left;
    width: 50%;
}

section.etapas .etapas__single{
    float: right;
    width: 50%;
}
section.etapas .etapas__group p#title-photo{
    float: left;
    margin: 130px 20px;
    color: #509d87;

}

section.etapas .etepas__group img{
    width: 50%;
}

.etapas__group2{
    margin-bottom: 40px;
    padding: 0 30px;
}

.etapas__group2 .circle{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
}

.circle span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 35px;
    color: #03ca9f;
}

.etapas__descricao{
    float: left;
    width: calc(100% - 100px);
    padding: 0 20px;
}

.line{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 1px;
    background-color: black;
}

.etapas__descricao h3{
    color: #03ca9f;
    font-size: 18px;
}

.etapas__descricao p{
    color: #2d2d2d;
    font-weight: bold;
    font-size: 14px;
}

section.diferencas{
    padding: 50px 0;
}

section.diferencas > .container{
    max-width: 800px;
    text-align: center;
}

.diferencas__single{
    float: left;
    width: 50%;
}

.diferencas__single h2,
.item-diferencas-1 span{
    color: #a9c4b8;
}

.diferencas__single h2{
    font-size: 30px;
    font-weight: normal;
}

.item-diferencas-1{
    display: inline-block;
    margin-top: 10px;
    position: relative;
}

.line-diferencas-1{
    position: absolute;
    left: 0;
    top: 11px;
    width: 100%;
    height: 3px;
    background-color: #e89595;
    transform: rotate(-5deg);
}

.item-diferencas-2{
    margin-top: 10px;

}
.item-diferencas-2 span{
    color: #7dd5b0;
    font-weight: bold;
    font-size: 21px;
}

section.contato{
    padding: 40px 0;
    background-color: #98fcde;

}

section.contato h2{
    text-align: center;
    color: #509d87;
    font-size: 24px;
}

section.contato p{
    font-size: 14px;
    max-width: 440px;
    border-bottom: 1px solid #509d87;
    padding: 10px 0;
    color: #509d87;
}

section.contato > .container{
    max-width: 800px;
}

section.contato .form-group{
    margin-top: 10px;
}

section.contato input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
}

section.contato textarea{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-bottom: 10px;
    resize: none;
    outline: none;    
}

section.contato input[type=submit]{
    width: 300px;
    height: 50px;
    border-radius: 100px;
    background-color: #0ed2a7;
    font-size: 20px;
    color: white;
    font-weight: normal;
    border: none;
}

footer{
    width: 100%;
    background-color: #6cc5b2;
    padding: 30px 0;
}

footer .container{
    text-align: center;
}



@media screen and (max-width: 1024px){
    section.etapas .etapas__one{
        width: 100%;
    }

    section.etapas .etapas__single{
        width: 100%;
    }

    section.etapas > .container{
        max-width: 700px;
    }

    section.etapas .etapas__group img{
       max-width: 100%;
       float: none;
       display: block;
       margin: 0 auto;        
    }

   section.etapas img:nth-of-type(1){
       margin-top: 50px;
   }

   section.etapas{
       padding: 0;
   }

    .etapas__group2 p{
        width: 100%;
        text-align: center;
        display: block;
        float: none;
        padding-left: 0;
        padding-top: 10px;
    }
}


@media screen and (max-width: 900px) {
    nav.mobile{
        display: block;
        float: right;
    }

    nav.mobile ul{
        position: absolute;
        left: 0;
        top: 118px;
        width: 100%;
        background-color: #3dd193;
    }

    nav.mobile ul li{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid white;
        text-align: center;
    }

    nav.mobile h3{
        position: relative;
        top: 10px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .content-header .one {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .content-header .two{
        display: none;
    }

    .telefone-header{
        display: none;
    }

    nav.desktop{
        display: none;
    }

    section.header-master{
        min-height: 400px;
    }

    .diferenciais-single{
        width: 100%;
        text-align: center;
    }

    .sobre-container{
        float: none;
        width: 100%;
    }

    .sobre-container{
        width: 100%;
    }

    section.depoimento{
        position: relative;
        top: 0;
    
    }

    section.etapas .etapas__group p#title-photo{
        margin: 10px 20px;
    }
}

@media screen and (max-width: 600px){
    .diferencas__single:nth-of-type(1){
        border-right: none !important;
    }
    .diferencas__single{
        float: none;
        width: 100%;
        margin-bottom: 40px;
    }
}